<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.website}}</td>
        </tr>
    </tbody>
</table>