<form [formGroup]="loginForm">
    User: <input type="text" formControlName="user" />
    Password: <input type="password" formControlName="password" />
    <button (click)="save()">Login</button>
</form>